<% if @task.errors.any? %>
<ul>
  <% @task.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<div class="input-form">
<%= form_for :task, url: (@task.new_record? ? tasks_path : task_path(@task)), method: (@task.new_record? ? :post : :put) do |f| %>
  <fieldset>
    <div class="input-group">
      <%= f.label 'Title' %>
      <%= f.text_field :name, autocomplete: 'off' %>
    </div>

    <div class="input-group">
    <%= f.label :progress %>
    <%= f.range_field :progress, in: 0..100, step: 1, value: 0, class: 'task_progress_input' %>
    <%= f.number_field :progress, in: 0..100, step: 1, value: 0, class: 'task_progress_input' %><span>%</span>
    </div>

    <div class="input-group">
      <%= f.label :deadline %>
      <%= f.date_field(:deadline) %>
    </div>

    <div class="input-group">
    <%= f.text_area :body , size: "53x4", autocomplete: 'off' %>
    </div>

    <div class="input-controls">
    <%= f.submit %>
    </div>
  </fieldset>
<% end %>
</div>