<h2>Task</h2>

<div id="content">
	<h5>Title</h5>
	<%= @task.name %>

	<br />

	<h3>Task</h3>
	<%= @task.body %>
</div>

<div class="button-group">
		<% if @task.creator == current_user %>
		<%= link_to	'Edit', edit_task_path(@task) %>
		<%= link_to	'Delete', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
		<%= link_to 'Back', tasks_path, class: 'button-primary' %>
	</div>