<h2><%= @task.name %></h2>

<div id="content">
	<p><%= @task.progress %>%</p>
	<p><%= @task.body %></p>

	<div class="separator"></div>
	<h3 class="collapsable clickable">Files</h3>
	<div class="collapsable">
		<% @task.files.each do |file| %>
		<p>
		<label>Name:</label>
		<%= file.original_filename %>
		<label>Type:</label>
		<%= file.content_type %>
		<label>Url:</label>
		<%= file.url %>
		<%= link_to "Download", { :action => "download" , :fileid => file.id } %>
		<%= link_to "Delete", { :action => "remove", :fileid => file.id}, data: { confirm: 'Are you sure you want to delete this file?' } %>
		</p>
		<% end %>

		<p>Add file to task</p>
		<%= form_for @task, url: {action: "upload"}, method: :post do |f| %>
			<%= f.file_field :file %>
			<%= f.submit 'Upload' %>
		<% end %>
	</div>

	<div class="separator"></div>
	<h3 class="collapsable clickable">People</h3>
	<div class="collapsable">
	</div>

	<div class="separator"></div>

	<h3 class="collapsable clickable">Sub-tasks</h3>
	<div class="collapsable">
		<% @task.subtasks.each do |subtask| %>
		<p><label>Name:</label> <%= subtask.name %> <label>Body:</label> <%= subtask.body %><label>Progress:</label> <%= subtask.progress %> </p>
		<% end %>

		<div class="input-form">
		<h4>Add new sub-task</h4>
		<%= form_for (@subtask = @task.subtasks.new) do |f| %>
			<fieldset>
			<div class="input-group">
				<%= f.hidden_field :parent_id, :value => @subtask.parent.id %>
				<%= f.label :name, :class => 'small' %>
				<%= f.text_field :name %>
			</div>
			<div class="input-controls">
				<%= f.submit %>
			</div>
			</fieldset>
		<% end %>
		</div>
	</div>
</div>

<div class="button-group">
	<%= link_to 'Back', tasks_path, class: 'button' %>
	<% if @task.creator == current_user %>
		<%= link_to	'Edit', edit_task_path(@task), class: 'button' %>
		<%= link_to	'Delete', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
	<% end %>		
</div>