<h2><%= @task.name %></h2>

<div id="content">
	<p><%= @task.body %></p>
</div>

<div class="button-group">
	<%= link_to 'Back', tasks_path, class: 'button' %>
	<% if @task.creator == current_user %>
		<%= link_to	'Edit', edit_task_path(@task), class: 'button' %>
		<%= link_to	'Delete', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
	<% end %>		
</div>