<!DOCTYPE html>
<html>
<head>
  <title>XTask</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<div class="left" id="logo">
		<h2>XTask</h2>
	</div>

	<div class="right" id="nav-bar">
	<% if current_user.present? %>
		Welcome <%= current_user.email %>! | 
		<%= link_to 'Sign out', logout_path %>
	<% else %>
		<%= link_to 'Register', new_user_path %>
		<%= link_to 'Sign in', login_path %>
	<% end %>
	</div>
</div>

<div id="content">
	<% if notice.present? %>
		<div class="notification">
			<p class="notice"><%= notice %></p>
		</div>
	<% end %>
	<% if alert.present? %>
		<div class="notification">
			<p class="alert"><%= alert %></p>
		</div>
	<% end %>

	<%= yield %>
</div>
</body>
</html>
